body{
    /* border: 2px solid red; */
    background-color: black;
    color: orangered;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    /* width: 90%; */
    
}

.mdd{
    float: left;
    width: 10%;

    
}

a{
    text-decoration: none;
    color: rgb(185, 180, 180);
}

a:hover{
    color: orangered;
}

.nav{
    text-align: center;
    position: fixed;
    width: 85%;
}

li{
    display: inline;
    background-color: black;
    padding: 20px;
    width: 50%;

}

.one{
    float: right;
}

.hire{
    float: right;
    width: 10%;
    background-color: orangered;
    color: white;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
}

.home{
    padding: 20px;
    margin-top: 90px;
    
}

.two{
    width: 50%;
    float: left;
    margin-right: 5%;
}

.img{
    width: 24%;
    border-radius: 50%;
    margin-left: 100px;
    
}


.name{
    font-size: 30px;
    color: gray;
}

.head{
    font-size: 50px;
}

.para{
    font-size: 20px;
    color: gray;
}

.edu{
    color: white;
    font-size: small;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: medium;
}

h3{
    color: orangered;
}

.dee{
    border: 2px solid white;
    margin: 5px auto;
    padding: 10px;
    width: 350px;
}


.skills{
    color: white;
    font-size: small;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: medium;
}



.cert{
    color: white;
    font-size: small;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: medium;
}

.one{
    border: 2px solid white;
    margin: 5px auto;
    padding: 10px;
    width: 350px;
    height: 150px;
}



.left{
    background-color: rgb(10, 10, 10);
    border-radius: 20px;
    width: 35%;
    margin: 10px;
    padding: 15px;
    float: left;
    line-height: 20px;    
    text-align: left;
    color: white;
}

.right{
    justify-content: center;
    width: 55%;
    float: right;
    background-color: rgb(10, 10, 10);
    border-radius: 20px;    
    margin: 10px;
    padding: 15px;
}


.tab-nav button {
  background-color: black;
  color: orangered;
  border: 2px solid orangered;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.tab-nav button:hover {
  background-color: orangered;
  color: white;
}


.tab-nav button.active-tab {
    background-color: orangered;
    color: white;
}

h2{
    color: orangered;
}

.nav a.active {
    color: white;
    background-color: orangered;
    padding: 8px 15px;
    border-radius: 10px;
}
